{% extends "layout.html" %}

{% block body %}

<div class="container my-5" id="about">
    <div class="m-4">
        <h4 class="my-4">About</h4>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, autem! Magnam debitis,
        sequi, dolorum
        doloremque veritatis atque eveniet iure ab, vitae iewufjsjf dolore architecto sapiente saepe. Non nihil
        consequuntur
        nulla blanditiis?
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 my-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <div>
                                <div class="row d-flex align-items-center justify-content-center">
                                    <div class="col-md-8 "><img class="img-thumbnail"
                                            src="{{ url_for('static',filename = 'images/img3.jpg')}}" alt="">
                                    </div>

                                </div>

                            </div>
                        </h5>
                        <p class="card-text d-flex align-items-center justify-content-center">KONGARI SAI KUMAR
                        </p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <div>
                            <div class="container">
                                <div class="row m-2">
                                    <div class="col m-3">
                                        <div>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                                            </svg>
                                            <span>Mail : kongarisaikumar12@gmail.com</span>
                                        </div>
                                    </div>
                                    <div class="col  m-3">
                                        <div>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                                            </svg>
                                            <span> Degree : B.tech Cse(cs)</span>
                                        </div>
                                    </div>
                                    <div class="w-100"></div>
                                    <div class="col m-3">
                                        <div>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                                            </svg>
                                            <span> Gmai : kongarisaikumar12@gmail.com</span>
                                        </div>
                                    </div>
                                    <div class="col m-3">
                                        <div>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                                            </svg>
                                            <span> Phone Number : 6304037823</span>
                                        </div>
                                    </div>
                                    <div class="w-100"></div>
                                    <div class="col m-3">
                                        <div>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                                            </svg>
                                            <span> Address : Hyderabad </span>
                                        </div>
                                    </div>
                                    <div class="col m-3">
                                        <div>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                                            </svg>
                                            <span> WebSit Link : portfolio.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}