{% extends "layout.html" %}

{% block body %}

<div class="container my-3" id="certification">
    <div class="m-3">
        <h4>Certification</h4>
    </div>
    <div class="container card">
        <div class="row">
            <div class="col-sm-4 my-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <div>
                                <div class="row d-flex align-items-center justify-content-center ">
                                    <div class="col-md-8 d-flex align-items-center justify-content-center"><img
                                            class="img-thumbnail" width="150" height="200"
                                            src="{{ url_for('static',filename = 'images/frontend-img.png')}}" alt="">
                                    </div>

                                </div>

                            </div>
                        </h5>
                        <p class="card-text d-flex align-items-center justify-content-center">FRONTEND
                            DEVELOPMENT
                        </p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-8">
                <div>
                    <div>

                        <div>
                            <div class="container">
                                <h5 class="card-title my-2">Special title treatment</h5>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis modi impedit qui
                                repellat maxime eveniet? Delectus quo fuga est, magnam possimus similique
                                perspiciatis unde quam porro, asperiores assumenda. Libero velit ut omnis
                                assumenda
                                eaque quis nihil dignissimos quas repudiandae, vero et molestiae voluptate
                                laudantium soluta pariatur saepe illum eos autem.
                            </div>
                        </div>
                        <div class="m-3">
                            <a href="#" class="btn btn-primary">See
                                Projects</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container card">
        <div class="row">
            <div class="col-sm-4 my-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <div>
                                <div class="row d-flex align-items-center justify-content-center ">
                                    <div class="col-md-8 d-flex align-items-center justify-content-center"><img
                                            class="img-thumbnail" width="150" height="200"
                                            src="{{ url_for('static',filename = 'images/frontend-img.png')}}" alt="">
                                    </div>

                                </div>

                            </div>
                        </h5>
                        <p class="card-text d-flex align-items-center justify-content-center">FRONTEND
                            DEVELOPMENT
                        </p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-8">
                <div>
                    <div>

                        <div>
                            <div class="container">
                                <h5 class="card-title my-2">Special title treatment</h5>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis modi impedit qui
                                repellat maxime eveniet? Delectus quo fuga est, magnam possimus similique
                                perspiciatis unde quam porro, asperiores assumenda. Libero velit ut omnis
                                assumenda
                                eaque quis nihil dignissimos quas repudiandae, vero et molestiae voluptate
                                laudantium soluta pariatur saepe illum eos autem.
                            </div>
                        </div>
                        <div class="m-3">
                            <a href="#" class="btn btn-primary">See
                                Projects</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container card">
        <div class="row">
            <div class="col-sm-4 my-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <div>
                                <div class="row d-flex align-items-center justify-content-center ">
                                    <div class="col-md-8 d-flex align-items-center justify-content-center"><img
                                            class="img-thumbnail" width="150" height="200"
                                            src="{{ url_for('static',filename = 'images/frontend-img.png')}}" alt="">
                                    </div>

                                </div>

                            </div>
                        </h5>
                        <p class="card-text d-flex align-items-center justify-content-center">FRONTEND
                            DEVELOPMENT
                        </p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-8">
                <div>
                    <div>

                        <div>
                            <div class="container">
                                <h5 class="card-title my-2">Special title treatment</h5>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis modi impedit qui
                                repellat maxime eveniet? Delectus quo fuga est, magnam possimus similique
                                perspiciatis unde quam porro, asperiores assumenda. Libero velit ut omnis
                                assumenda
                                eaque quis nihil dignissimos quas repudiandae, vero et molestiae voluptate
                                laudantium soluta pariatur saepe illum eos autem.
                            </div>
                        </div>
                        <div class="m-3">
                            <a href="#" class="btn btn-primary">See
                                Projects</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container card">
        <div class="row">
            <div class="col-sm-4 my-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <div>
                                <div class="row d-flex align-items-center justify-content-center ">
                                    <div class="col-md-8 d-flex align-items-center justify-content-center"><img
                                            class="img-thumbnail" width="150" height="200"
                                            src="{{ url_for('static',filename = 'images/frontend-img.png')}}" alt="">
                                    </div>

                                </div>

                            </div>
                        </h5>
                        <p class="card-text d-flex align-items-center justify-content-center">FRONTEND
                            DEVELOPMENT
                        </p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-8">
                <div>
                    <div>

                        <div>
                            <div class="container">
                                <h5 class="card-title my-2">Special title treatment</h5>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis modi impedit qui
                                repellat maxime eveniet? Delectus quo fuga est, magnam possimus similique
                                perspiciatis unde quam porro, asperiores assumenda. Libero velit ut omnis
                                assumenda
                                eaque quis nihil dignissimos quas repudiandae, vero et molestiae voluptate
                                laudantium soluta pariatur saepe illum eos autem.
                            </div>
                        </div>
                        <div class="m-3">
                            <a href="#" class="btn btn-primary">See
                                Projects</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container card">
        <div class="row">
            <div class="col-sm-4 my-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <div>
                                <div class="row d-flex align-items-center justify-content-center ">
                                    <div class="col-md-8 d-flex align-items-center justify-content-center"><img
                                            class="img-thumbnail" width="150" height="200"
                                            src="{{ url_for('static',filename = 'images/frontend-img.png')}}" alt="">
                                    </div>

                                </div>

                            </div>
                        </h5>
                        <p class="card-text d-flex align-items-center justify-content-center">FRONTEND
                            DEVELOPMENT
                        </p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-8">
                <div>
                    <div>

                        <div>
                            <div class="container">
                                <h5 class="card-title my-2">Special title treatment</h5>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis modi impedit qui
                                repellat maxime eveniet? Delectus quo fuga est, magnam possimus similique
                                perspiciatis unde quam porro, asperiores assumenda. Libero velit ut omnis
                                assumenda
                                eaque quis nihil dignissimos quas repudiandae, vero et molestiae voluptate
                                laudantium soluta pariatur saepe illum eos autem.
                            </div>
                        </div>
                        <div class="m-3">
                            <a href="#" class="btn btn-primary">See
                                Projects</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

{% endblock %}