{% extends "layout.html" %}

{% block body %}










<!-- after nav bar  -->
<div id="new" class="container">
    <div class="neato-header">
        <h3>HELLO welcome to my mini blog about myself<br> my name is sai kumar </h3>
        <h4>let's go</h4>
        <div class="footer1">
            <div class="row1" style="display: inline-block;">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
            </div>
        </div>

    </div>

</div>

<!-- end after nav bar -->




<!-- todays quotes start  -->

<div style="height: auto;" class="container my-3">
    <h3>Todays quotes</h3>

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem ut harum officia aliquam aspernatur modi, saepe
    dicta quis quam, dolor aperiam repudiandae cumque est maxime pariatur corrupti culpa totam in.
</div>

<!-- todays quotes end -->




<!-- achivements column start -->

<!-- <div> -->
<div class="container my-3">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
                magna
                mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
                magna
                mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id
                ligula
                porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
                nibh,
                ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>
</div>

<!-- achivements column end -->





<!-- lower home part start  -->
<div class="container">
    <div class="row my-3">
        <div class="col-sm-3 border border-primary">
            <div class="d-flex align-items-center justify-content-center my-3 ">
                <img class="img-thumbnail " src="{{ url_for('static',filename = 'images/frontend-img.png')}}"
                    width="150px" height="150px" alt="">
            </div>
            <div>One of three columns
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus aliquid voluptas facilis
                voluptates animi exercitationem? Quo nihil quisquam neque! Voluptatum voluptas, tenetur sit
                incidunt
                sint similique voluptates accusantium placeat harum.
            </div>
            <div class="d-flex align-items-center justify-content-center my-2"> <button type="button"
                    class="btn btn-primary ">Primary</button></div>

        </div>
        <div class="col-sm-3 border border-success">
            <div class="d-flex align-items-center justify-content-center my-3">
                <img class="img-thumbnail " src="{{ url_for('static',filename = 'images/backend-img.png')}}"
                    width="150px" height="150px" alt="">
            </div>
            One of three columns
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus aliquid voluptas facilis
            voluptates animi exercitationem? Quo nihil quisquam neque! Voluptatum voluptas, tenetur sit incidunt
            sint similique voluptates accusantium placeat harum.
            <div class="d-flex align-items-center justify-content-center my-2"> <button type="button"
                    class="btn btn-primary ">Primary</button></div>
        </div>

        <div class="col-sm-3 border border-primary">
            <div class="d-flex align-items-center justify-content-center my-3">
                <img class="img-thumbnail " src="{{ url_for('static',filename = 'images/img3.jpg')}}" width="150px"
                    height="150px" alt="">
            </div>
            One of three columns
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus aliquid voluptas facilis
            voluptates animi exercitationem? Quo nihil quisquam neque! Voluptatum voluptas, tenetur sit incidunt
            sint similique voluptates accusantium placeat harum.
            <div class="d-flex align-items-center justify-content-center my-2"> <button type="button"
                    class="btn btn-primary ">Primary</button></div>
        </div>
        <div class="col-sm-3 border border-primary">
            <div class="d-flex align-items-center justify-content-center my-3">
                <img class="img-thumbnail " src="{{ url_for('static',filename = 'images/img3.jpg')}}" width="150px"
                    height="150px" alt="">
            </div>
            One of three columns
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus aliquid voluptas facilis
            voluptates animi exercitationem? Quo nihil quisquam neque! Voluptatum voluptas, tenetur sit incidunt
            sint similique voluptates accusantium placeat harum.
            <div class="d-flex align-items-center justify-content-center my-2"> <button type="button"
                    class="btn btn-primary ">Primary</button></div>
        </div>

    </div>
</div>

<!-- lower home part end -->



{% endblock %}