#about{
    border: 2px solid rgb(10, 9, 9);
}
#about-1{
    border: 2px solid rgb(237, 220, 220)
}
#about-2{
    border: 2px solid rgb(232, 217, 217)
}
body
{
    padding-top: 70px;
    background-color: #4e4e4e;
}
body{margin-top:20px;
    background:#eee;
    }
    
    .card {
        box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
    }
    
    .width-90 {
        width: 90px!important;
    }
    .rounded-3 {
        border-radius: 0.5rem !important;
    }
    
    a {
    text-decoration:none;    
    }
    .grid {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fill, 186px);
      }


#certification{
    border: 2px solid black;

}

      /*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.footer-paralax {
    padding: 4rem 0 0 0;
  }
  
  .contact-mf {
    margin-top: 4rem;
  }
  
  @media (min-width: 767px) {
    .contact-mf .box-pl2 {
      margin-top: 3rem;
      padding-left: 0rem;
    }
  }
  
  .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  
  .php-email-form input,
  .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  
  .php-email-form input:focus,
  .php-email-form textarea:focus {
    border-color: #0078ff;
  }
  
  .php-email-form input {
    padding: 10px 15px;
  }
  
  .php-email-form textarea {
    padding: 12px 15px;
    margin-bottom: 0;
  }
  
  .php-email-form button[type=submit] {
    background: #0078ff;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
  }
  
  .php-email-form button[type=submit]:hover {
    background: #3393ff;
  }
  
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }


  *--------------------------------------------------------------
/* # Services */
--------------------------------------------------------------*/

.service-box,
.paralax-mf {
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.service-box {
  background-color: #ace1ec;
  padding: 2.5rem 1.3rem;
  border-radius: 1rem;
  margin-bottom: 3rem;
  text-align: center;
}

.service-box:hover .ico-circle {
  transition: all 500ms ease;
  color: #fff;
  background-color: #0078ff;
  box-shadow: 0 0 0 10px #4b4b49;
  border-radius: 10px;
  cursor: pointer;
}

.service-box .service-ico {
  margin-bottom: 1rem;
  color: #1e1e1e;
}

.service-box .ico-circle {
  transition: all 500ms ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.service-box .ico-circle i {
  line-height: 0;
  font-size: 40px;
}

.service-box .s-title {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  padding: 0.4rem 0;
}

.service-box .s-description {
  color: #4e4e4e;
}
  



#new{
    width: 100%;
    height: 650px;
    background-color: #1e1e1e;
}
/* .new-1{
    margin-top: 20%;
    margin-left: 15%;
    margin-right: 15%;

} */
.new-2{
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;

}
#content1 {
    /* width: 400px; */
    margin: 0 auto;
    background-color: #66ffff;
}


/* html, body {
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }
   */
#new{
    background-image: url(https://unsplash.imgix.net/photo-1423683249427-8ca22bd873e0?fit=crop&fm=jpg&h=700&q=75&w=1050);
    background-position: center center;
    background-size: cover;
  }
  
  body {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .neato-header {
    transform: translate(-50%, -50%);
    color: white;
    min-width: 64%;
    padding: 30px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    /* border: 3px solid white; */
    /* border-top: none; */
  }
  .neato-header h1, .neato-header h2 {
    letter-spacing: 0.05em;
  }
  .neato-header h1 {
    font-size: 20px;
    font-family: "Open Sans Condensed";
    text-transform: uppercase;
  }
  .neato-header h2 {
    transform: translate(0, -50%);
    font-family: "Vollkorn";
    font-weight: italic;
    font-size: 21px;
    overflow: hidden;
    margin: -30px -33px 0 -33px;
    position: absolute;
    /* width: calc( 100% + 6px ); */
  }
  .neato-header h2:before, .neato-header h2:after {
    content: "";
    position: absolute;
    width: 100%;
    margin-top: -2px;
    /* border-top: 3px solid white; */
    top: 50%;
  }
  .neato-header h2:before {
    transform: translate(-100%, 0);
    margin-left: -30px;
  }
  .neato-header h2:after {
    margin-left: 30px;
  }
  


  /* footer */
  
.footer{
    background:#000;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }
      

    .footer1{
        /* background:#000; */
        padding:15px 0px;
        font-family: 'Play', sans-serif;
        text-align:center;
        }
        
        .footer1 .row1{
        width:105%;
        margin:1% 0%;
        padding:0.6% 0%;
        color:rgb(2, 20, 25);
        font-size:0.8em;
        }
        
        .footer1 .row1 a{
        text-decoration:none;
        color:rgb(15, 6, 6);
        transition:0.5s;
        }
        
        .footer1 .row1 a:hover{
        color:#fff;
        }
        
        .footer1 .row1 ul{
        width:100%;
        }
        
        .footer1 .row1 ul li{
        display:inline-block;
        margin:0px 30px;
        }
        
        .footer1 .row1 a i{
        font-size:2em;
        margin:0% 1%;
        padding: 0px 4px
        }




        